<!-- <header *ngIf="isUserLoggedIn$ | async" class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a routerLink="/" class="nav__link">
                    <img class="nav__icon" src="../../assets/icon.svg">
                </a>
            </li>
            <li class="nav__item">
                <a (click)="navigateTo('games')" class="nav__link">Games</a>
            </li>
            <li class="nav__item">
                <a (click)="navigateTo('library')" class="nav__link">Library</a>
            </li>
            <li class="nav__item">
                <a (click)="navigateTo('friends')" class="nav__link">Friends</a>
            </li>
            <li class="nav__item">
                <a (click)="navigateTo('profile')" class="nav__link">Profile</a>
            </li>
            <li class="nav__item">
                <a (click)="logout()" class="nav__link">Log out</a>
            </li>
        </ul>
    </nav>
</header> -->

<header *ngIf="isUserLoggedIn$ | async" class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" routerLink="/">
                    <img class="nav__logo" alt="Logo" src="../../assets/icon.svg">
                </a>
            </li>
            <li class="nav__item">
                <a (click)="navigateTo('games')" class="nav__link">
                    <img class="nav__icon" alt="Gamepad" src="../../assets/gamepad.svg">
                </a>
                <p class="nav__text">Games</p>
            </li>
            <li class="nav__item">
                <a (click)="navigateTo('library')" class="nav__link">
                    <img class="nav__icon" alt="Library of video games" src="../../assets/layers.svg">
                </a>
                <p class="nav__text">Library</p>
            </li>
            <li class="nav__item">
                <a (click)="navigateTo('friends')" class="nav__link">
                    <img class="nav__icon" alt="List of friends" src="../../assets/friends.svg">
                </a>
                <p class="nav__text">Friends</p>
            </li>
            <li class="nav__item">
                <a (click)="navigateTo('profile')" class="nav__link">
                    <img class="nav__icon" alt="User's profile" src="../../assets/profile.svg">
                </a>
                <p class="nav__text">Profile</p>
            </li>
            <li class="nav__item">
                <a (click)="logout()" class="nav__link">
                    <img class="nav__icon" alt="Log out" src="../../assets/logout.svg">
                </a>
                <p class="nav__text">Log out</p>
            </li>
        </ul>
        <div class="nav__bottom-border">&nbsp;</div>
    </nav>
</header>