<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link">
                    <img class="nav__icon" src="../../assets/icon.svg">
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link">Games</a>
            </li>
            <li class="nav__item">
                <a class="nav__link">Library</a>
            </li>
            <li class="nav__item">
                <a class="nav__link">Friends</a>
            </li>
            <li class="nav__item">
                <a class="nav__link">Profile</a>
            </li>
        </ul>
    </nav>
</header>