<main class="main">
    <form class="login" [formGroup]="loginForm" (submit)="login()">
            <h2 class="heading-secondary u-margin-bottom-small">Sign In</h2>
            <div class="login__input-group u-margin-bottom-small">
                <label class="login__label" for="emailInputEl">Email</label>
                <input class="login__text-input" formControlName="email" id="emailInputEl" type="text" placeholder="Email" required>
            </div>
            <div class="login__input-group u-margin-bottom-small">
                <label class="login__label" for="passwordInputEl">Password</label>
                <input class="login__text-input" formControlName="password" id="passwordInputEl" type="password" placeholder="Password" required>
            </div>
            <button class="btn btn--primary btn--gradient-big btn--gradient-big-2" type="submit" [disabled]="!loginForm.valid">Sign In</button>
    </form>
</main>
